<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <h1 class="ion-text-center">Inicio de sesión</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="ion-margin">
          <ion-input type="email" id="correo" formControlName="correo" placeholder="usuario@dominio.com"
            labelPlacement="stacked" label="Correo electrónico" [errorText]="correo_getError()">
          </ion-input>
          <ion-input type="password" id="clave" formControlName="clave"
            labelPlacement="stacked" label="Contraseña" [errorText]="clave_getError()">
          </ion-input>
          <ion-button type="submit" size="large" expand="block"
            class="ion-margin-top" color="tertiary">Iniciar sesión</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
